@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

@import "config/mixins";
@import "config/variables";
@import "config/normalize";
@import "config/fonts";
@import "config/palette";

@import "modules/header";


/* ==============================================
				  DOM SELECTORS
 ============================================== */
body {
	font: #{$text-size}/1.3em $ptsans_reg, sans-serif;
	color: $grey
}
img {
	max-width: 100%
}


/* ==============================================
					FRAMES
 ============================================== */
.container {
	width: $width-container;
	margin: 0 auto
}
