/* ==============================================
				  HEADER STYLES
 ============================================== */
.header {
  	min-height: 5.3em;
	background: #268bbf;
	padding: 0 15px;
 	text-transform: uppercase
}

	/* ========== HEADER COMMON STYLES ========== */
	.header div {
		display: inline-block;
		vertical-align: middle;
	}
	.header, 
	.header a {
		color: #fff
	}
	.header a {
		text-decoration: none
	}
	.header ul {
		list-style: none;
		padding-left: 0
	}
	

	/* ========== HEADER LEFT BLOCK ========== */
	.header__left {
	  	margin: .4em 0
	}
	.header__left > div {
	  	margin-right: 6px
	}

		/* ===== logo ===== */
		.logo {}
			.logo__link {}
				.logo__image {}

		/* ===== siteinfo ===== */
		.siteinfo {}
			.siteinfo__name {
			  	font-size: 19px;
		  	  	margin: .5em 0 0
			}
				.siteinfo__name > span {
					float: right
				}
			.siteinfo__desc {
				font: 8px/1em 'TornadoC';
				margin-top: .6em
			}


	/* ========== HEADER RIGHT BLOCK ========== */
	.header__right {}

		/* ===== commons ===== */
		.menu, .lang {
			display: inline-block;
			vertical-align: middle
		}
			.menu__item, .lang__item {
				display: inline-block
			}

		/* ===== menu ===== */
		.menu {
			font-size: 15px
		}
			.menu__list {
				margin: 0
			}
				.menu__item {}

		/* ===== languages switcher ===== */
		.lang {
			font-size: 12px
		}
			.lang__item {}
			.lang__item:first-child {}
				.lang__link {}
			