/* rules for extend */
.inline-block_vertical-align {
	display: inline-block;
	vertical-align: middle
}
.right-border_light-blue {
	border-right: 1px solid $blue-light
}


/* ==============================================
				  HEADER STYLES
 ============================================== */
$headerTextColor: #fff;

.header {
	@include linear-gradient(to right, $bg-gradient-from, $bg-gradient-to);
	padding: 0 15px;
 	text-transform: uppercase;
 	color: $headerTextColor;

	/* ========== HEADER COMMON STYLES ========== */
 	a {
		color: $headerTextColor;
		text-decoration: none
	}

	ul {
		&:not(.deep__list) {
			list-style: none
		}
		padding-left: 0
	}

	[class$='--col'] {
		@extend .inline-block_vertical-align
	}

	/* ========== HEADER LEFT BLOCK ========== */
    @include e('left') {
        margin: .4em 0;

		@include m('col') {
	        margin-right: 6px
	    }
    }

    /* ========== HEADER RIGHT BLOCK ========== */
    @include e('right') {
    	font-family: $dinpro_reg;
    	line-height: 1;

    	@include m('col') {}

    	[class*='__item']:not(.deep__item) {
    		margin-right: -4px;
			@extend .inline-block_vertical-align
		}
    }

	/* ===== languages switcher ===== */
    .lang {
		@include e('link') {
			@include m('active') {
				color: $blue-light
			}
		}
    }
}


/* ========== HEADER LEFT BLOCK ========== */

/* ===== logo ===== */
.logo {
	@include e('link') {}
		@include e('image') {}
}

/* ===== siteinfo ===== */
.siteinfo {
	@include e('name') {
		font: 19px $tornado_c;
  	  	margin: .5em 0 0
	}
		@include e('label') {
			font-family: $tornado_ultra-black
		}

	@include e('desc') {
		font: 7px/1em $tornado_c;
		margin-top: .6em
	}
}
	

/* ========== HEADER RIGHT BLOCK ========== */

/* ===== menu ===== */
.menu {
	font-size: 15px;

	@include e('list') {
		margin: 0
	}
		@include e('item') {
			position: relative;
		  	line-height: 5.5;

			&:last-child > a {
				border: none
			}
		}
			@include e('link') {
				padding: 1em 35px;
				@extend .right-border_light-blue
			}
}

/* ===== dropdown section menu ===== */
.drop {
	background: $blue-darken;

	.menu__link {
		border-right-color: $blue-darken
	}

	@include e('list') {
		display: none;
		position: absolute;
		top: 100%;
		background: $blue-darken;
		font-family: $pfdin_bold;
		line-height: 1.5;
	  	padding: 2em 20px 1.5em;
		text-transform: none;
    	column-count: 2;
		box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, .5);
		z-index: 1;
	}

		@include e('item') {
			margin: 0 20px
		}
			@include e('link') {}

		[class$='__item'] {
			min-width: 320px;
			font-size: 16px;
			border-top: 1px solid $blue-middle;

			&:not(.deep) {
				padding: 5px 15px
			}
		}
}

/* ===== deep level in dropdown section menu ===== */
.deep {
	&.drop__item {
		padding: 0 15px
	}
	.drop__link {
		line-height: 2.15
	}

	@include e('list') {
		font-family: $pfdin_reg;
		margin: 0 -15px;
		list-style: disc inside
	}
		@include e('item') {
			padding: 5px 0 5px 20px
		}
			@include e('link') {}
}


/* ===== languages switcher ===== */
.lang {
	margin-left: 80px;
	font-size: 12px;

	@include e('item') {
		padding: 0 5px;

		&:first-child {
			@extend .right-border_light-blue
		}
	}
		@include e('link') {}
}


/* ========== HEADER CLEAR BLOCK FOR EFFECT ========== */

/* ===== for menu effect ===== */
$bodyColor: #fff;

.clear {
	height: .4em;
	margin: 0 -15px;

	@include e('col') {
		display: inline-block;
		vertical-align: top;
		height: .4em;
		margin-right: -4px;
		
		@include m('empty') {
			background: $bodyColor;
			
			&:first-child {
				width: 26.6%
			}
			&:last-child {
			  	width: 53.9%
			}
		}

		@include m('transparent') {
		  	position: relative;
		  	width: 19.66%;

			&:after {
				content: '';
				position: absolute;
				right: -1px;
				border-left: 10px solid transparent;
				border-bottom: .5em solid $bodyColor
			}
		}
	}
}